---
const brands = [
  {
    name: "Solo lo mejor para tu cuidado",
    description: "En nuestra barbería confiamos en STMNT Grooming Goods, una marca de alto rendimiento utilizada por los mejores barberos del mundo. Cada producto ha sido cuidadosamente seleccionado para ofrecerte resultados profesionales, cuidando tu cabello y barba con ingredientes de calidad premium. Porque tu estilo merece lo mejor.",
        image: "/images/stmnt-master_products-care-styling-collection-v2_1-1-ratio.webp",
    bgImage: "/images/family.png"
  }
];
---

<section id="brands" class="bg-black">
  <div class="flex flex-col md:flex-row">
    <!-- Brand Image Section (Left) -->
    <div class="w-full md:w-1/2">
      <img 
        src="/images/products.webp" 
        alt="STMNT Cuidado" 
        class="w-full h-full object-cover grayscale"
      />
    </div>
    
    <!-- Brand Description Section (Right) -->
    <div class="w-full md:w-1/2 bg-black text-white relative">
      <!-- Background image with overlay -->
      <div class="absolute inset-0 opacity-15 z-0">
        <img 
          src="/images/smtn-logo.webp"  
          alt="Background texture" 
          class="w-full h-full object-cover grayscale"
        />
      </div>
      
      <!-- Content -->
      <div class="relative z-10 p-12 md:p-16 lg:p-20 flex flex-col justify-center h-full">
        <div class="text-center mb-10">
          <h1 class="text-7xl font-black tracking-wider bg-gradient-to-r from-white via-gray-300 to-white bg-clip-text text-transparent transform hover:scale-105 transition-transform duration-300 animate-pulse">
            STMNT
          </h1>
        </div>
        <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-6 text-center">Lo mejor para tu cuidado </h2>
        <p class="text-base md:text-lg">
          En nuestra barbería confiamos en <b>STMNT Grooming Goods</b>, una marca de alto rendimiento utilizada por los mejores barberos del mundo. Cada producto ha sido cuidadosamente seleccionado para ofrecerte resultados profesionales, cuidando tu cabello y barba con ingredientes de calidad premium. Porque tu estilo merece lo mejor.
          <div class="mt-8 w-full max-w-xs h-px bg-white"></div>
      </div>
    </div>
  </div>
</section> 